
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=377425307f45adfa393a69d6c69f6fbc
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup
